name: PHP CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  php-ci:
    name: PHP CI - exemple2_articlesapp_ci
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Make vendor binaries executable
        run: chmod +x vendor/bin/* || true

      - name: Run code quality check (PHPCS)
        working-directory: exemple2_articlesapp_ci
        run: php ./vendor/bin/phpcs --standard=phpcs.xml.dist app/ || exit 0

      - name: Run unit tests (PHPUnit)
        run: php ./vendor/bin/phpunit