name: PHP CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"

      - name: Install dependencies
        working-directory: exemple2_articlesapp_ci
        run: composer install

      - name: Run code quality
        working-directory: exemple2_articlesapp_ci
        run: ./vendor/bin/phpcs app/

      - name: Run unit tests
        working-directory: exemple2_articlesapp_ci
        run: ./vendor/bin/phpunit
